<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.dao.AdminDao">

    <!-- 登录 -->
    <select id="login" resultType="java.util.Map" >
        SELECT a.id, a.rid
        FROM admin a
            JOIN admin_login al ON a.id = al.id
        WHERE al.username = #{username} AND al.password = #{password}
    </select>

</mapper>
