<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.dao.AdminDao">

    <!-- 登录 -->
    <select id="login" resultType="java.util.Map" >
        SELECT a.id, a.rid
        FROM admin a
            JOIN admin_login al ON a.id = al.id
        WHERE al.username = #{username} AND al.password = #{password}
    </select>

    <!-- 基本信息 -->
    <resultMap id="ResultMap" type="java.util.Map">
        <result column="r_name" property="role" />
        <result column="a_name" property="name" />
        <result column="avatar" property="avatar" />
    </resultMap>
    <select id="getBasic" resultMap="ResultMap">
        SELECT r.name AS r_name, a.name AS a_name, a.avatar AS avatar
        FROM admin a
            JOIN role r  ON a.rid = r.id
        WHERE a.id = #{id}
    </select>

    <!-- 分页查询 -->
    <select id="getAdminList" resultType="com.example.server.dto.AdminInfo">
        SELECT
            a.*,
            al.username,
            al.ip,
            al.update_time AS login_time,
            r.name AS role
        FROM admin a
                 INNER JOIN admin_login al ON a.id = al.id
                 INNER JOIN role r ON a.rid = r.id
        WHERE 1 = 1
        <if test="query != null and query.trim() != ''">
            AND (a.name LIKE CONCAT('%', #{query}, '%') OR al.username LIKE CONCAT('%', #{query}, '%'))
        </if>
    </select>

    <!-- 添加 -->
    <insert id="addAdmin">
        INSERT INTO admin (`name`, rid
        <if test="status != null">
            , status
        </if>)
        VALUES (#{name}, #{rid}
        <if test="status != null">
            , #{status}
        </if>)
    </insert>

    <!-- 修改 -->
    <update id="updateAdmin" >
        UPDATE admin
        <set>
            <if test="param.name != null">`name` = #{param.name},</if>
            <if test="param.rid != null">rid = #{param.rid},</if>
            <if test="param.status != null">`status` = #{param.status}</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>
