<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.dao.OrderDao">

    <!-- 分页查询 -->
    <select id="getOrderList" >
        SELECT  *
        FROM `order`
        <where>
            <if test="query != null and query.trim() != ''">
                AND id LIKE CONCAT('%', #{query}, '%')
            </if>
            <if test="tag != null and tag.trim() != ''">
                AND `status` = #{tag}
            </if>
        </where>
    </select>

    <!-- 分页查询 -->
    <select id="getWalletList" >
        SELECT  *
        FROM wallet
        <if test="query != null and query.trim() != ''">
            WHERE uid LIKE CONCAT('%', #{query}, '%')
        </if>
    </select>

</mapper>
