<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.dao.PermissionDao">

    <!-- 权限角色 -->
    <!-- 分页查询 -->
    <select id="getRoleList" >
        SELECT *
        FROM role
        WHERE id != 0
        <if test="query != null and query.trim() != ''">
            AND role.name LIKE CONCAT('%', #{query}, '%')
        </if>
    </select>

    <!-- 权限 -->
    <!-- 分页查询 -->
    <select id="getPermissionParent" >
        SELECT *
        FROM permission
        WHERE pid = -1
        <if test="query != null and query.trim() != ''">
            AND `name` LIKE CONCAT('%', #{query}, '%')
        </if>
    </select>

    <!-- 权限树 -->
    <select id="getAuthTree">
        SELECT p.id, p.pid, p.name
        FROM permission p
            <if test="rid != null">
                INNER JOIN role_permission rp ON p.id = rp.pid
            </if>
        WHERE p.pid = #{pid}
        <if test="rid != null">
            AND rp.rid = #{rid}
        </if>
    </select>

    <!-- 添加 -->
    <insert id="addPermission">
        INSERT INTO permission(pid, name, path, icon, level)
        VALUES(#{pid}, #{name}, #{path}, #{icon}, (SELECT p.level + 1 FROM permission p WHERE p.id = #{pid}))
    </insert>

    <!-- 添加授权 -->
    <insert id="addAuth">
        INSERT INTO role_permission(rid, pid) VALUES
        <foreach collection="auth" item="pid" separator=",">
            (#{id}, #{pid})
        </foreach>
    </insert>

    <!-- 查找子权限 -->
    <select id="getChildren" >
        SELECT p.id
        FROM permission p
          INNER JOIN role_permission rp
                ON rp.pid = p.id
        WHERE p.pid = #{pid} AND rp.rid = #{rid}
    </select>
    <!-- 删除子权限 -->
    <delete id="deleteAuth">
        DELETE FROM role_permission
        WHERE rid = #{rid}
        AND pid IN
        <foreach collection="auth" item="pid" open="(" separator="," close=")">
            #{pid}
        </foreach>
    </delete>

</mapper>
